<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include("../partials/_navbar.ejs") %>
    <div class="container">
    <h1>Create a new account!</h1>
        <!-- Logo -->
        <img id="logo" src="/assets/logo.png" alt="Task Buddy Logo" class="logo">

        <!-- Tagline -->
        <h2 class="tagline">Sign Up to get things done!</h2>

        <!-- Sign-in Form Box -->
        <div class="form-box">
            <form action="/auth/sign-up" method="POST">
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" required />
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" required />
                <label for="confirmPassword">Confirm Password:</label>
                <input 
                    type="password"
                    name="confirmPassword"
                    id="confirmPassword"
                    required 
                />
                <br><br>
                <button type="submit" class="btn">Sign up</button>
                <p>Already have an account? <a href="/auth/sign-in">Log in here</a></p>
            </form>
        </div>
    </div>
    <br><br><br><br>
    <script src="/script.js"></script>
    <%- include("../partials/_footer") %>
</body>
</html>
